<div>
    
    <table class = "table table-bordered table-inverse table-hover">
    <thead>
        <tr>
            <th>Owner Name</th>
            <th>Email</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="form-control" type="text" name= "buyerName" [(ngModel)]="buyerName"  (ngModelChange) = "searchByBuyerName()"
                placeholder="Search by buyer name">
            </td>
            <td>
                <input class="form-control" type="text" name= "email" [(ngModel)]="email"  (ngModelChange) = "searchByEmail()"
                placeholder="Search by email">
            </td>
            <td>
                <input class="form-control" type="text" name= "model" [(ngModel)]="model"  (ngModelChange) = "searchByModel()"
                placeholder="Search by email">
            </td>
            <td></td>
        </tr>
        <tr *ngFor="let bike of bikes">
            <td>
                <a [routerLink] = "['/view', bike.id]" > {{bike.buyerName}}</a>
            </td>
            <td>{{bike.email}}</td>
            <td>{{bike.model}}</td>
            <td>{{bike.price}}</td>
        </tr>
    </tbody>
    </table>
</div>