<div class="container">
    <form [formGroup]="bikeForm" (ngSubmit)="submitBikeRegistration()" novalidate>
        <div class = "form-group">
            <label>Buyer Name</label>
            <input type="text" formControlName="buyerName" class="form-control" required autofocus>
        </div>
        <div class = "form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [(ngModel)]='username' readonly required autofocus>
        </div>
        <div class = "form-group">
            <label>Phone</label>
            <input type="text" formControlName="phone" class="form-control" required autofocus>
        </div>
        <div class = "form-group">
            <label>Model</label>
            <input type="text" formControlName="model" class="form-control" required autofocus>
        </div>
        <div class = "form-group">
            <label>Serial Number</label>
            <input type="text" formControlName="serialNumber" class="form-control" required autofocus>
        </div>
        <div class = "form-group">
            <label>Price</label>
            <input type="text" formControlName="price" class="form-control" required autofocus>
        </div>
        
        <div class = "form-group">
            <label>Purchase Date</label>
            <input type="date" formControlName="purchaseDate" class="form-control" required autofocus>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-primary"> Submit</button>
        </div>
    </form>
    <div  class="alert alert-danger" *ngIf="validateMessage != '' " >
        <h6>
            {{validateMessage}}
        </h6>
    </div>
</div>