<div class="container">
<table class= "table table-bordered table-inverse table-hover">
  <thead>
     <tr>
        <th> Key </th>
        <th> Value </th>
     </tr>   
  </thead>
  <tbody>
     <tr>
        <td> Buyer Name </td>
        <td> {{bike.buyerName}} </td>
     </tr>   
     <tr>
        <td> Email </td>
        <td> {{bike.email}} </td>
     </tr>   
     <tr>
        <td> Model </td>
        <td> {{bike.Model}} </td>
     </tr>   
     <tr>
        <td> Phone </td>
        <td> {{bike.phone}} </td>
     </tr>   
     <tr>
        <td> Price </td>
        <td> {{bike.price}} </td>
     </tr>   
     <tr>
        <td> Purchase Date </td>
        <td> {{bike.purchaseDate}}</td>
     </tr>   
     <tr>
        <td> Serial Number </td>
        <td> {{bike.serialNumber}} </td>
     </tr>   
  </tbody>
</table>
    <div>
        <button class="btn btn-outline-secondary" (click) =  'onBack()'> Back </button>
    </div>

</div>